.button-style {
  margin-top: 1rem;
  //margin-bottom: 0.5rem;

  border-color: $color-3;
  background-color: $color-4;

  &:hover {
    border-color: $color-4;
    background-color: $color-5;
  }

  &:active{
    border-color: $color-3!important;
    background-color: $color-4!important;
  }
}
