/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-button {
  display: none; // No arrows
}

::-webkit-scrollbar-track {
  background: rgba($color: $color-1, $alpha: 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-4;
  border-radius: 10px;
  
}
